<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Navigation</h3>
    </div>
    <%- if user_signed_in? %>
        <div id="sidebar" class="list-group"> 
            <a href="/" class="list-group-item active">
                <i class="icon-dashboard"></i> My Profile
            </a>
            <%= link_to "View Friends", 
                "/users/",
                :class=> "list-group-item" %>
            
            <%= link_to "BTU Management",
                "/btu/",
                :class=> "list-group-item" %>
            <%= link_to "Code",
                "/code/",
                :class=> "list-group-item" %>
            <%= link_to 'Sign out', 
                destroy_user_session_path, 
                :method => :delete ,
                :class=>"list-group-item"  %>
            <%= link_to 'Home', 
                "/",  
                :class=>"list-group-item"  %> 
        <%- else %>
            <%= link_to 'Register', 
                new_user_registration_path, 
                :class=>"list-group-item"  %>        
            <%= link_to 'Sign in', 
                new_user_session_path , 
                :class=>"list-group-item"  %>
        <%- end %>
    </div>
</div>
        
