<%
    #TODO: not sure which controller file this should be in, but it shouldn't be here
    def class_for_path(path)
        c = "list-group-item"
        if current_page? path
            c += " active"
        end
        return c
    end

    def class_for_controller(controller)
        c = "list-group-item"
        if controller_name == controller
            c += " active"
        end
        return c
    end
%>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Navigation</h3>
    </div>
    <div id="sidebar" class="list-group">
    <%- if user_signed_in? %>
            <%= link_to 'Home', 
                root_path,  
                :class=> class_for_path(root_path) %> 
            <%= link_to "View Friends", 
                users_path,
                :class=> class_for_path(users_path) %>
            
            <%= link_to "BTU Management",
                btu_index_path,
                :class=> class_for_controller("btu") %>
            <%= link_to "Code",
                code_index_path,
                :class=> class_for_controller("code") %>
            <%= link_to 'Sign out', 
                destroy_user_session_path, 
                :method => :delete ,
                :class=> class_for_path(destroy_user_session_path)  %>
        <%- else %>
            <%= link_to 'Sign in', 
                new_user_session_path, 
                :class=> class_for_path(new_user_session_path) %>
            <%= link_to 'Register',
                new_user_registration_path,
                :class=> class_for_path(new_user_registration_path)  %>
        <%- end %>
    </div>
</div>
        
