<% content_for :head do %>
    <%= javascript_include_tag params[:controller] %>
    <!-- Initialization code for blockly -->
    <script type="text/javascript">
      
      function doBlocklyInitialize(){
            var toolbox = '<xml>';
            toolbox += '  <block type="controls_if"></block>';
            toolbox += '  <block type="controls_whileUntil"></block>';
            Blockly.inject(document.getElementById('blocklyDiv'),
                           {path: '/blockly/', toolbox: document.getElementById('toolbox')});
            // Ugly stuff that needs to be replaced in the future
            document.getElementById('blocklyDiv').children[0].style = 'display: block; height: 351px;';
        }
    </script>
<% end %>
<xml id="toolbox" style="display: none">
<category name="Start">
<category name="Core">
<category name="Control">
<block type="controls_if"></block>
<block type="controls_whileUntil"></block>
</category>
<category name="Logic">
<block type="logic_compare"></block>
<block type="logic_operation"></block>
<block type="logic_boolean"></block>
</category>
</category>
<category name="Custom">
<block type="start"></block>
<category name="Move">
<block type="move_forward"></block>
<block type="move_backward"></block>
</category>
<category name="Turn">
<block type="turn_left"></block>
<block type="turn_right"></block>
</category>
</category>
</category>
</xml>
<div class="row-fluid">
    <div class="span5 offset4">
        <img src="/assets/btlogotext.png"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span7 offset5">
        <h2>Welcome, <%= current_user.name %>!</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 offset2">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#tabhome" data-toggle="tab">Home</a>
            </li>
            <li>
                <a href="#tabbtu" data-toggle="tab">BTU Management</a>
            </li>
            <li>
                <a href="#tabcode" onclick="doBlocklyInitialize()" data-toggle="tab">Code</a>
            </li>
            <li>
                <a href="#tabprofile" data-toggle="tab">Profile</a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset2">
        <div class="tab-content">
            <div class="tab-pane active" id="tabhome">
                <p>This is your home page!<p>
            </div>
            <div class="tab-pane" id="tabbtu">
                <p> This is where your BTU business will be! </p>
            </div>
            <div class="tab-pane" id="tabprofile">
                <p> Account Information </p>
                <p> User Name:     <%= current_user.name %> </p>
                <p> Account Email: <%= current_user.email %> </p>
                <p> School:        <%= current_user.school %> </p>
                <%= link_to 'Update Profile', edit_user_registration_path %>
            </div>
            <div class="tab-pane" id="tabcode">
                <p>Here, you can create custom programs to use with your Blocky Talkies!</p> 
                <i>
                <p>Some Tips:</p>
                <p>1. Drag individual blocks off the left side to delete them</p>
                </i>
                <div class="row-fluid">
                    <div class="span2">
                    <button type="button" class="btn btn-primary"
                            onclick="exportCode()">Export to XML!
                    </button>
                    </div>
                    <div class="span2 offset5">
                    <button type="button" class="btn btn-danger"
                            onclick="clearCode()">Clear Blocks
                    </button>
                    </div>
                </div>
                <br />
                <div id="blocklyDiv" style="height: 350px; width: 800px;"></div>
            </div>
        </div>
    </div>
</div>
