<!DOCTYPE html>
<html>
<head>
    <title>Btp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :head%>
</head>
<body>
<% if notice %>
    <div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="alert alert-error"><%= alert %></div>
<% end %>

<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <img src="/assets/btlogotext.png"/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <%= render 'common/sidebar' %>
    </div>
    <div class="col-md-offset-2">
    <%= yield %>
    </div>

</body>
</html>
