<!DOCTYPE html>
<html>
<head>
    <title>Btp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag params[:controller] %>
    <%= yield :head%>
</head>
<body id="pageContent">
<div class="row">
    <div class="col-md-5 col-md-offset-2">
        <img src="/assets/btlogotext.png"/>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <br/><br/><br/><br/>
        <%= render 'common/sidebar' %>
    </div>
    <div class="col-md-offset-2" id="body-container">
    <%= yield %>
    </div>
</div>
<% if notice %>
    <div class="alert alert-info" id="noticeBox" ><%= notice %>
        <button type="button" class="close" aria-hidden="true" onclick="$('#noticeBox').hide();">&times;</button>
    </div>

<% end %>
<% if alert %>
        <div class="alert alert-danger" id="alertBox"><%= alert %>
            <button type="button" class="close" aria-hidden="true" onclick="$('#alertBox').hide();">&times;</button>
        </div>
<% end %>


</body>
</html>
