<div class="col-md-10">
    <h2>Friends!</h2>
    <% if current_user.pending_invited.empty? and current_user.pending_invited_by.empty? and current_user.friends.empty? %>
      You have no friends :(
    <% else %>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>

          <% current_user.pending_invited.each do |user| %>
              <tr>
                  <td><%= render partial: "potentialFriend", locals: {user: user} %></td> 
                  <td>Pending</td>
              </tr>
          <% end %>

          <% current_user.pending_invited_by.each do |user| %>
              <tr>
                  <td><%= render partial: "potentialFriend", locals: {user: user} %></td> 
                  <td>
                      <%= form_tag approve_friend_user_path(user.id) do %>
                          <%= submit_tag "Accept?", class: "btn btn-primary" %>
                      <% end %>
                  </td>
              </tr>
          <% end %>

          <% current_user.friends.each do |user| %>
              <tr>
                  <td><%= render partial: "potentialFriend", locals: {user: user} %></td> 
                  <td><button type="button" class="btn btn-danger" onclick="">Revoke?</button>
              </tr>
          <% end %>
        </table>
    <% end %>
    Search for friends:
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <% @users.each do |user| %>
            <% if user != current_user and !user.connected_with? current_user %>
                <tr>
                    <td><%= render partial: "potentialFriend", locals: {user: user} %></td> 
                    <td>
                        <%= form_tag request_friend_user_path(user.id) do %>
                            <%= submit_tag "Request Friend", class: "btn btn-primary" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>
