<% if @code.errors.any? %>
    <div class="row-fluid">
    <div class="span10 offset2">
        <div id="error_explanation">
            <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>
            <ul>
            <% @code.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
    </div>
<% end %>

<div class="row-fluid">
    <p class="span10 offset2">
        <% if @code.title.blank? %>
            <%= f.text_field :title, :id =>"codeTitle", :placeholder => "Name Your Program" %>
        <% else %>
            <%= f.text_field :title, :id =>"codeTitle", :value => @code.title %>
        <% end %>
    </p>
    <p class="span6 offset2">
        <% if @code.description.blank? %>
          <%= f.text_area :description, :id =>"codeDescription", :placeholder => "Description"%>
        <% else %>
          <%= f.text_area :description, :id =>"codeDescription", :value => @code.description %>
        <% end %>
    </p>
</div>

<span id="codeFormXML">
    <%= f.text_area :codetext, :class => "span9", :id =>"xmlText" %>
</span>

