<% if @code.errors.any? %>
    <div class="col-md-10">
        <div id="error_explanation">
            <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>
            <ul>
            <% @code.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
<% end %>
    <div class="row col-md-10">
        <div class="col-md-4">
            <p>
                <label for="title">Code Title</label><br/>
                <% if @code.title.blank? %>
                    <%= f.text_field :title, :class => "form-control", :placeholder => "Name Your Program" %>
                <% else %>
                    <%= f.text_field :title, :class => "form-control", :value => @code.title %>
                <% end %>
            </p>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <label for="codeDescription">Code Description </label>
            <% if @code.description.blank? %>
              <%= f.text_area :description, :id =>"codeDescription", :class=> "form-control", :placeholder => "Description"%>
            <% else %>
              <%= f.text_area :description, :id =>"codeDescription", :class=> "form-control", :value => @code.description %>
            <% end %>
        </div>
    </div>

    <div class="form_row row col-md-10">
        <% Code.PRIVACY().each_with_index do |privacy, i| %>
            <div class="col-md-2">
            <% if(i == 0) %>
                <label for="privacy"><u>Privacy</u>_</label>
            <% else %>
                <label for="privacy">________</label>
            <% end %>
            <br/>
            <%= f.radio_button :privacy, privacy %>
                <%= label :privacy, privacy, :class=>"privacyRadioLabel"  %>
            </div>
        <% end %>
        <br/><br/>
    </div>

<% if not @code.live? %>
    <%= f.hidden_field :version_id, value: @code.version.index %>
<% end %>

<div id="codeFormXML">
    <%= f.text_area :codetext, :id =>"xmlText" %>
</div>

<div id="sensorStrings">
    <%= f.text_field :sensor1, :id=>"sensorString1" %>
    <%= f.text_field :sensor2, :id=>"sensorString2" %>
    <%= f.text_field :sensor3, :id=>"sensorString3" %>
    <%= f.text_field :sensor4, :id=>"sensorString4" %>
</div>

