<h3><u>View saved programs and code or make something new!</u></h3> 
<%# Display each code that the user owns %>
<table id="codeEntryTable" class="table table-striped table-bordered table-nonfluid">
    <% user.codes.each do |code| %>
        <% if !code.nil? %>
        <tr>
        <td>
            <div id="leftCodeRow">
                <a href=<%= code_path(code.id) %>>
                    <%= code.title.blank? ? "(Unnamed Program)" : code.title %>
                </a>
                <p><i id="codeDescription">
                    <%= code.description.blank? ? "(No Description)" : truncate(code.description, length: 80) %>
                </i></p>
            </div>
            <div id="rightCodeRow">
                <a href=<%= code_path(code.id) %> type="button" class="btn btn-info">Edit</a>
                <% if code.user == current_user %>
                    <%= button_to "Delete", {:controller => :code, :action => 'destroy', 
                                             :id => code.id }, :class => 'btn btn-danger', :method => :delete %>
                <% end %>
            </div>
        </td>
        </tr>
    <% end %>
<% end %>
</table>

<% if user == current_user %>
    <a href=<%= new_code_path %> type="button" class="btn btn-primary">Create New Code</a>
<% end %>
