<% content_for :head do %>
    <%= javascript_include_tag params[:controller] %>
    <!-- Initialization code for blockly -->
    <script type="text/javascript">
        var hasInit = false; 
      function doBlocklyInitialize(){
            if(hasInit){return;}
            hasInit = true;
            var toolbox = '<xml>';
            toolbox += '  <block type="controls_if"></block>';
            toolbox += '  <block type="controls_whileUntil"></block>';
            Blockly.inject(document.getElementById('blocklyDiv'),
                           {path: '/blockly/',scrollbars:false, toolbox: document.getElementById('toolbox')});
            // Ugly stuff that needs to be replaced in the future
            document.getElementById('blocklyDiv').children[0].style = 'display: block; height: 351px;';
        }
    </script>
<% end %>
<xml id="toolbox" style="display: none">
<category name="Start">
<category name="Core">
<category name="Control">
<block type="controls_if"></block>
<block type="controls_whileUntil"></block>
</category>
<category name="Logic">
<block type="logic_compare"></block>
<block type="logic_operation"></block>
<block type="logic_boolean"></block>
</category>
</category>
<category name="Custom">
<block type="start"></block>
<category name="Sensors">
<block type="sensor_touch"></block>
<block type="sensor_light"></block>
<block type="sensor_ultrasonic"></block>
<block type="sensor_sound"></block>
<block type="sensor_new_val"></block>
</category>
<category name="Motors">
<block type="motor_set"></block>
<block type="motor_get_encoder"></block>
</category>
<category name="Pins">
<block type="pin_in"></block>
<block type="pin_out"></block>
</category>
</category>
</category>
</xml>
<div class="row-fluid">
    <div class="span5 offset4">
        <img src="/assets/btlogotext.png"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 offset2">
                <a href="#tabcode" onclick="doBlocklyInitialize()" data-toggle="tab">Code</a>
    </div>
</div>



<div class="row-fluid">
    <div class="span10 offset2">
                <div class="row-fluid">
                    <div class="span2">
                    <button type="button" class="btn btn-primary"
                            onclick="exportCode()">Export to XML!
                    </button>
                    </div>
                    
                    

                    <div class="span2 offset5">
                    <button type="button" class="btn btn-danger"
                            onclick="clearCode()">Clear Blocks
                    </button>
                    </div>
                </div>
                <br />
                <div id="blocklyDiv" style="height: 350px; width: 800px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
<div class="span10 offset2">
<%= form_for :code, url: code_path(@code), method: :update do |f| %>
    <% if @code.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@code.errors.count, "error") %> prohibited
                  this code from being saved:</h2>
                    <ul>
                <% @code.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                    <% end %>
                    </ul>
              </div>
                 <% end %>
              <p>
                <%= f.label :codetext %>
                <%= f.text_area :codetext %>
              </p>
             <p>
               <%= f.submit %>
             </p>
<% end %>
</div>
</div>
