<% content_for :head do %>
    <%= javascript_include_tag params[:controller] %>
    <!-- Initialization code for blockly -->
    <script type="text/javascript">
        var hasInit = false; 
      function doBlocklyInitialize(){
            if(hasInit){return;}
            hasInit = true;
            var toolbox = '<xml>';
            toolbox += '  <block type="controls_if"></block>';
            toolbox += '  <block type="controls_whileUntil"></block>';
            Blockly.inject(document.getElementById('blocklyDiv'),
                           {path: '/blockly/',scrollbars:false, toolbox: document.getElementById('toolbox')});
            // Ugly stuff that needs to be replaced in the future
            document.getElementById('blocklyDiv').children[0].style = 'display: block; height: 351px;';
            <% if(@code.codetext) %>
                var code =  <%= ("'" + @code.codetext + "'").html_safe %> ;
                var xml_text = Blockly.Xml.textToDom(code);
                //XSS IS A FACTOR NOW AAAAA
                Blockly.Xml.domToWorkspace(Blockly.mainWorkspace, xml_text);
            <% end %>
        }
    </script>
<% end %>

<%= render partial: "blocklyToolbox" %>

<div class="row-fluid">
    <div class="span5 offset4">
        <img src="/assets/btlogotext.png"/>
    </div>
</div>

<%= form_for :code, url: code_path(@code), :html => { :id => "codeForm"}, method: :update do |f| %>
    <div class="row-fluid">
        <p class="span10 offset2">
            <% if @code.title.nil? %>
                <%= f.text_field :title, :id =>"codeTitle", :placeholder => "Name Your Program" %>
            <% else %>
                <%= f.text_field :title, :id =>"codeTitle", :placeholder => @code.title %>
            <% end %>
        </p>
    </div>
    <% if @code.errors.any? %>
        <div class="row-fluid">
        <div class="span10 offset2">
            <div id="error_explanation">
                <h2><%= pluralize(@code.errors.count, "error") %> prohibited
                this code from being saved:</h2>
                <ul>
                <% @code.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        </div>
        </div>
    <% end %>
    <span id="codeFormXML">
        <%= f.text_area :codetext, :class => "span9", :id =>"xmlText" %>
    </span>
<% end %>

<div class="row-fluid">
    <div class="span10 offset2">
        <div id="blocklyDiv" style="height: 350px; width: 800px;"></div>
        <br />
        <div class="row-fluid">
            <div class="span2">
                <button type="button" class="btn btn-primary"
                     onclick="exportCode()">Save your Code!
                </button>
            </div>

            <div class="span2 offset5">
                <button type="button" class="btn btn-danger"
                    onclick="clearCode()">Clear Blocks
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(doBlocklyInitialize())
</script>
